section.screen.no-padding.teaser
  .screen-content
    h1 noxan.
    p software developer

section#work
  .container
    h1 Work
    p A selection of my latest projects. All crafted with love while either working for a company, as a freelancer or one even self funded.
    .projects(ng-controller="ProjectsController as vm")
      .project(ng-repeat="project in vm.projects")
        .image(background-image="{{project.image}}")
        h3 {{project.name}}
    .clearfix
section#technology(ng-controller="TechnologiesController as vm")
  .container
    h1 Technology
    p My focus is on state of the art web technologies. I know the full stack as a developer. Sometimes I even do the design. And handling the deployment is mandatory to set sails. Last I have to say that games are fun, building them even more and I consider it still my business.
    .technologies
      .technology(ng-repeat="technology in vm.technologies" ng-style="{'background-color': '{{technology.color}}'}" ng-show="technology.show")
        span {{technology.name}}
      .clearfix
    p
      a(ng-click="vm.showAll()" ng-show="vm.hasHidden()").technology-show-button Your technology is missing? I know some more...
      .technology-additional-info(ng-hide="vm.hasHidden()") Still missing? Awesome, I am always curious to learn!
section#about
  .container
    h1 About
    p noxan is the portfolio and website of Richard Stromer. I am a software developer, student and love photography as much as ballroom dancing. I graduated with a bachelor's degree in computer sciences. But I could never wait to get started and took my first position even before beginning to study. You may have a look at #{""}
      a(ui-sref="home.work") what I crafted so far
      |  , at #{""}
      a(ui-sref="home.technology") some of my skills
      |  or most interesting: #{""}
      a(ui-sref="home.contact") Let's talk about the future!
    p I am driven by the simple passion to learn, create and explore! Repeatedly.
section#contact
  .container
    h1 Contact
    p Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In euismod ultrices facilisis. Vestibulum porta sapien adipiscing augue congue id pretium lectus molestie. Proin quis dictum nisl. Morbi id quam sapien, sed vestibulum sem. Duis elementum rutrum mauris sed convallis. Proin vestibulum magna mi. Aenean tristique hendrerit magna, ac facilisis nulla hendrerit ut. Sed non tortor sodales quam auctor elementum. Donec hendrerit nunc eget elit pharetra pulvinar. Suspendisse id tempus tortor. Aenean luctus, elit commodo laoreet commodo, justo nisi consequat massa, sed vulputate quam urna quis eros. Donec vel.

scroll-manager
