.technologies
  .technology
    display inline-block
    width 17%
    padding-bottom 17%
    margin 1.5%
    float left
    height 0
    position relative

    transition transition-time transition-timing-function
    cursor pointer

    &:hover
      transform scale(1.1)

    span
      position absolute
      top 50%
      left 50%
      transform translate(-50%, -50%)
      margin 0

    opacity 1
    transform scale(1)

    &.ng-hide
      opacity 0
      transform scale(.5)

.technology-additional-info, .technology-show-button
  transition transition-time transition-timing-function
  opacity 1
  &.ng-hide
    opacity 0
.technology-show-button
  cursor pointer
