section.small-padding.no-margin
  .container
    h1 Labs
    p Some experiments. Some finished. Some undone...

section.small-padding
  .container
    .projects
      a.project(ng-href="{{experiment.website}}" ng-repeat="experiment in labs.experiments")
        .image(background-image="//placehold.it/400?text={{experiment.name}}")
        h3 {{experiment.name}}
    .clearfix
