section
  .container
    h1 Labs
    p Some experiments. Some finished. Some undone...

section
  .container
    .projects
      a.project(href="https://github.com/noxan/webapp-playground")
        .image(background-image="//placehold.it/400?text=webapp")
        h3 webapp playground
    .clearfix
