section.small-padding.no-margin
  .container
    h1 Labs
    p Some experiments. Some finished. Some undone...

section.small-padding
  .container
    h1 Experiments
    p Some tests. Some prototypes. Something new...
    .projects
      a.project(ng-href="{{experiment.website}}" ng-repeat="experiment in labs.experiments")
        .image(background-image="//placehold.it/400?text={{experiment.name}}")
        h3 {{experiment.name}}
    .clearfix
section.small-padding
  .container
    h1 Projects
    p Some private projects. Some quite outdated. Some still working?
    .projects
      a.project(ng-href="{{project.website}}" ng-repeat="project in labs.projects")
        .image(background-image="//placehold.it/400?text={{project.name}}")
        h3 {{project.name}}
    .clearfix
