navigation
  ul.left
    li(ui-sref-active-eq="active")
      a(ui-sref="home") Home
    li(ui-sref-active="active")
      a(ui-sref="home.work") Work
    li(ui-sref-active="active")
      a(ui-sref="home.technology") Technology
    li(ui-sref-active="active")
      a(ui-sref="home.about") About
    li(ui-sref-active="active")
      a(ui-sref="home.contact") Contact

  ul.right
    li(ui-sref-active="active")
      a(ui-sref="labs") Labs
    li(ui-sref-active="active")
      a(ui-sref="blog") Blog
