navigation
  position fixed
  top 0
  left 0
  right 0
  ul
    margin 10px 20px
    padding 0
    list-style none
    &.left
      float left
    &.right
      float right
    li
      float left
      padding 10px
