ul.left
  li(ui-sref-active="active")
    a(ui-sref="home") Home
  li Work
  li Technology
  li About
  li Contact

ul.right
  li(ui-sref-active="active")
    a(ui-sref="labs") Labs
  li(ui-sref-active="active")
    a(ui-sref="blog") Blog
