footer
  .container
    h2 noxan.
    ul
      li Richard Stromer
      li
        a(href="mailto://hello@noxan.net") hello@noxan.net
      li
        a(href="http://www.noxan.net") www.noxan.net

    p Copyright 2015, noxan.net
