doctype html
html(lang="en" ng-app="noxan")
  head
    meta(charset="utf-8")
    title noxan.
    link(href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400|Raleway:100,200,300,400|Palanquin:100,200,300,400|Yantramanav:100,300,400|Open+Sans:300,400" rel="stylesheet" type="text/css")
  body
    .background
    .wrapper
      .wrapper-inner
        h1 Curabitur venenatis pulvinar
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia consectetur. Donec ut libero sed arcu vehicula ultricies a non tortor.
        h2 Vestibulum porta sapien adipiscing
        p Ut dolor diam, elementum et vestibulum eu, porttitor vel elit. Curabitur venenatis pulvinar tellus gravida ornare. Sed et erat faucibus nunc euismod ultricies ut id justo. Nullam cursus suscipit nisi, et ultrices justo sodales nec. Fusce venenatis facilisis lectus ac semper. Aliquam at massa ipsum. Quisque bibendum purus convallis nulla ultrices ultricies. Nullam aliquam, mi eu aliquam tincidunt, purus velit laoreet tortor, viverra pretium nisi quam vitae mi. Fusce vel volutpat elit. Nam sagittis nisi dui.
    script(src="bundle.js")
