doctype html
html(lang="en" ng-app="noxan")
  head
    meta(charset="utf-8")
    title noxan.
    link(href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400|Raleway:100,200,300,400|Palanquin:100,200,300,400|Yantramanav:100,300,400|Open+Sans:300,400" rel="stylesheet" type="text/css")
  body
    h1 Hello world.
    script(src="bundle.js")
