@import "~normalize.css/normalize.css"

background-color = #fff
background-alt-color = #eee
text-color = #333
link-color = #666
link-hover-color = #00b2ff
link-active-color = #000
transition-time = 100ms
transition-timing-function = cubic-bezier(0, 0.5, 0.5, 1)

body
  font-family: 'Source Sans Pro', sans-serif
  font-family: 'Yantramanav', sans-serif
  font-family: 'Palanquin', sans-serif
  font-weight: 300

  text-shadow: 0 0 1px rgba(0, 0, 0, 0.1)

  color: text-color

  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

  font-size: 20px
  line-height: 1.5

h1, h2, h3, h4, h5, h6
  font-family: 'Raleway', sans-serif
  font-weight: 400

a
  color link-color
  text-decoration none
  transition transition-time transition-timing-function color
  &:hover
    color link-hover-color
  &:active
    color link-active-color

section
  position relative
  &.no-margin, &.no-padding // remove padding from content again
    margin-top -100px
  &:not(.no-padding):not(.screen)
    padding 200px 0
  &.small-padding:not(.screen)
    padding 100px 0
  &:nth-of-type(2n)
    background-color background-alt-color
  &.screen
    padding-bottom 50%
  .screen-content
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)
    text-align center

.container
  width: 80%
  max-width: 700px
  margin: 0 auto
  text-align: center


.teaser
  font-size 3em
  line-height 1.2
  h1, h2, h3, p
    margin 0

// content and base layout
html, body
  height 100%

main
  position relative
  min-height 100%
  overflow auto

  @import "core/navigation"

  content
    display block
    padding 100px 0
    margin 0 0 350px 0 // height of footer

  @import "core/footer"

@import "portfolio/projects"
@import "portfolio/technologies"

@import "clearfix"
