@import "~normalize.css/normalize.css"

text-color = #333
link-color = #666
link-hover-color = #00b2ff
link-active-color = #000

body
  font-family: 'Source Sans Pro', sans-serif
  font-family: 'Yantramanav', sans-serif
  font-family: 'Palanquin', sans-serif
  font-weight: 300

  text-shadow: 0 0 1px rgba(0, 0, 0, 0.1)

  color: text-color

  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

  font-size: 20px
  line-height: 1.5

  margin-top 50px

h1, h2, h3, h4, h5, h6
  font-family: 'Raleway', sans-serif
  font-weight: 400

a
  color link-color
  text-decoration none
  transition 100ms cubic-bezier(0, 0.5, 0.5, 1) color
  &:hover
    color link-hover-color
  &:active
    color link-active-color

.wrapper
  transform-style: preserve-3d
  z-index: 100
  position: absolute
  top: 50%
  width: 100%
  transform: translateY(-50%)
  text-align: center
  .wrapper-inner
    width: 80%
    max-width: 700px
    margin: 0 auto

@import "animation"
@import "navigation"
