.technologies
  .technology
    display inline-block
    width 17%
    padding-bottom 17%
    margin 1.5%
    float left
    height 0
    position relative

    transition transition-time transition-timing-function
    cursor pointer

    &:hover
      transform scale(1.1)

    span
      position absolute
      top 50%
      left 50%
      transform translate(-50%, -50%)
      margin 0
