.projects

  .project
    float left
    width 30%
    margin 1.51515%
    background-color background-color
    transition transition-time transition-timing-function
    color link-color
    cursor pointer

    &:hover
      transform scale(1.1)
      color link-hover-color

    &:active
      color link-active-color

    .image
      width 100%
      padding-bottom 100%
      background-size cover
      background-position 50%
